- content_for(:title, 'Señor Nacho B&B - Location')

- content_for(:head) do
  = stylesheet_link_tag 'location'
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'

#map_container
  #map
    
:javascript
  $(function() {
    drawMap('map');
  });